<h1>Student Registration</h1>

<label>Name:</label>
<br>
<input type="text" [(ngModel)]="name">

<br><br>

<label>Age:</label>
<br>
<input type="number" [(ngModel)]="age">

<br><br>

<label>Department:</label>
<br>
<input type="text" [(ngModel)]="department">

<br><br>

<label>Email:</label>
<br>
<input type="email" [(ngModel)]="email">

<br><br>

<button (click) = "addStudent()"> {{selectedIndex === -1 ? 'Add Student' : 'Update Student'}}</button>

<hr>

<h2>Registered Students</h2>

<table border="1" *ngIf="students.length > 0">
 <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Department</th>
    <th>Email</th>
    <th>Action</th>
 </tr>

 <tr *ngFor="let student of students; let i = index">
    <td>{{student.name}}</td>
    <td>{{student.age}}</td>
    <td>{{student.department}}</td>
    <td>{{student.email}}</td>
    <td>
      <button (click)="deleteStudent(i)">Delete</button>
    </td>
    <td>
        <button (click)="editStudent(i)">Edit</button>
    </td>
 </tr>
</table>

<div *ngIf="students.length === 0">
    <p>No students registered.</p>
</div>